################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/StartMenuCleaner/v15
/StartMenuCleaner/bin
/StartMenuCleaner/obj
/StartMenuCleaner/StartMenuCleaner.csproj.user
/StartMenuCleaner_UnitTestProject/obj
/StartMenuCleaner_UnitTestProject/bin
/packages
