<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
	  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="DefaultWordsList" value="Un-Install,Uninstall,Delete,Remove,Supprimer,Désinstaller,Desinstaller" />
  </appSettings>
</configuration>
